.pio/
.pio_build_output*.txt
.pio_build_*.txt
.pio_build_esp32dev_latest.txt
.tools/
.vscode/
__pycache__/
*.pyc
*.log
app.db
build_check.log
upload_last.log
ota_upload.err.log
ota_upload.out.log
pio_build_esp32dev.log

include/secrets.h

curing_app/.metadata
curing_app/build/
curing_app/.dart_tool/
curing_app/.flutter-plugins
curing_app/.flutter-plugins-dependencies
curing_app/android/.gradle/
curing_app/android/key.properties
curing_app/android/app/upload-keystore.jks

releases/*.apk
releases/*.bin
